.application__info {
  margin-bottom: 3rem;
}

.application__title {
  margin-bottom: 1rem;
}

.application__subtitle {
  display: flex;
  flex-direction: column;
}

.application__subtitle div {
  margin-bottom: 0.5rem;
}

.application__subtitle div:last-child {
  margin-bottom: 0;
}
